:root {
  --primary: #222E50;
  --secondary: #508CA4;
  --ternary: #D2FDFF;
  list-style: none;
}



body {
  background-color: var(--primary);
  list-style: none;
}

header {
  background-image: url('./assets/images/hero-background.jpg');
  color: var(--ternary);
  height: 100px;
}

ul {
  list-style: none;
}

.nav-list {
  font-size: 22px;
}

main {
  color: var(--ternary);
}

.project {
  height: 200px;
}


.card {
  background-color: var(--secondary);
  width: 300px;
}

.card img {
  height: 100px;
  
}

.my-img {
  height: 200px;
  border-radius: 50%;
  margin: 5px;
}

a {
  color: var(--ternary);
  margin-right: 5px;
}

footer {
  font-size: 20px;
  display: flex;
}

/* 
img {
  max-width: 200px;
  height: 100px;
} */

/* .header-items {
  display: flex;
  align-items: end;
} */